fastapi
uvicorn[standard]
peewee
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pydantic
pydantic-settings
httpx
python-dateutil
pydantic[Email]
eval_type_backport

